@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Grotesk';
    font-weight: 400;
    src: url('/fonts/grotesk/founders-grotesk-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Grotesk';
    font-weight: 500;
    src: url('/fonts/grotesk/founders-grotesk-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Grotesk';
    font-weight: 700;
    src: url('/fonts/grotesk/founders-grotesk-bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 200;
    src: url('/fonts/inter/inter-extralight.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('/fonts/inter/inter-light.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/fonts/inter/inter-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('/fonts/inter/inter-medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('/fonts/inter/inter-semibold.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('/fonts/inter/inter-bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url('/fonts/inter/inter-extrabold.woff') format('woff');
  }

  html {
    font-family: 'Inter';
    font-feature-settings: 'calt' off;
  }
}
